PORT=3000
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://neondb_owner:npg_MJ0EyZ8DmnzB@ep-bitter-king-aydyxpum-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

NODE_ENV=development

JWT_SECRET=dc5874a4caa510a03c4b479f4ddd50252c0177ea93ee4513e7925aad919b32150faf53deafb23139c0f4801c8cc134db221aa42bec3be3ff5c1c57902c09263a
JWT_EXPIRES_IN=7d

AUTH0_DOMAIN=dev-22y1s4abo0jbuidb.us.auth0.com
AUTH0_AUDIENCE=https://job-application-tracker-api
AUTH0_CLAIMS_NAMESPACE=https://job-application-tracker.example.com

